/* --------------PC---------------------- */

@media all and (min-width:1200px){
body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center -60px;
    width: 100%;
    height: 100%;
    position: relative;
}


nav{
    width: 100%;
    height: 60px;
    background-color: #48FF23;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 50;
}
    

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left:0;
}

.ul_listBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ul_imgBox{
    margin-left: 900px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}

nav li{
    /* margin-left: 50px; */
    color: #000;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    line-height: 60px;
} 

nav li:hover{
    background-color:rgb(11, 67, 0);
    color: #fff;
}
nav li.on{
    background-color:rgb(11, 67, 0);
    color: #fff;

}

#wrap{}

.s1, .s2, .s4, .s5{
    display: block;
}


section{
    height: 100vh;
}

.information{
    display: none;
}

.s1{
    position: relative;
}

.a1{
    font-family: 'Press Start 2P';
    text-align: center;
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%, -10%);
    font-size: 60px;
    color: #48FF23;
}



/*---------------s1 끝-------------------*/


/*---------------s2 시작-------------------*/
.a2{
    margin-top: 100px;
    font-family: 'Press Start 2P';
    color: #48FF23;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left:50%;
    top: 25%;
    transform: translate(-50%, -20%);
}

.a2 .f1{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.a2 .f2{
    margin-top: 100px;
}

.a2 .ta{
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Press Start 2P';
    padding: 15px;

}

.a2 .gen{
    font-family: 'Press Start 2P';
    background-color: #48FF23;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    /* font-size: 20px; */
}




/*---------------s3 시작-------------------*/

.a3{
    position: absolute;
    left:50%;
    top: 30%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgBox {
    width: 50vw;
    height: 50vh;

    margin-top: 50px;
    overflow: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 10px dashed #48FF23;
    user-select: none;
    transition: 0.4s;
}

.down{
    font-family: 'Press Start 2P';
    background-color: #48FF23;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
}
/*---------------s4 시작-------------------*/
.s4 .a4{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:50%;
    top:65%;
    transform: translate(-50%, -20%);
    margin-top: 40px;
}

.a4 .a4_1, .a4_2{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.a4 .a4_2{
    margin-top: 20px;
}

.assetBox{
    width: 350px;
    height: 400px;
    background-color: rgba(72, 255, 35, 0.80);
    border-radius: 10px;
}

/*---------------s5 시작-------------------*/
.s5{
    position: relative;
}

.s5 .my5{
    transform: translate(-50%, -20%);
}



footer{
    width: 100%;
    height: 60px;
    background-color: #48FF23;
    position: absolute;
    bottom:0;
    left:0;
    color: #fff;
}

.fp{
    padding-right: 50px;
    font-size: 20px;
    color: #000;
    line-height: 60px ;
    font-family: 'Press Start 2P';
    text-align: right;
}

.fb span{
    padding-left: 100px;
    font-family: 'Gowun dodum';
    color: #000;
}

}
/* -----------PC------------------ */