@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

footer{
    width: 100%;
    height: 60px;
    background-color: #4c3d3d;
    bottom:0;
    position:absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Orbit', sans-serif;
    color: #fff;
}

p {
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
}