@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

header {
    
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #ffd95a;
    justify-content: center;
    font-family: 'Rowdies', sans-serif;}


.logo {
    font-size: 50px;
    cursor: pointer;
    color: #000;
}

.logo:hover {
    color: #4c4d3d;
}