@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap');

header {
    
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #ffd95a;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
}


.logo {
    font-size: 50px;
}