@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap');


main{
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
}

.textBox{
  font-family: 'Pixelify Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -20%)
}

.text1{
  height: 30px;
  font-family: 'Pixelify Sans', sans-serif;

}

button{
  background-color: #fff7d4;
  font-family: 'Pixelify Sans', sans-serif;
}

button:hover{
  background-color: #ffd95a;
  border-color:#4c4d3d;
}

.gen:hover{
  border-color:#4c4d3d
}

.out:hover{
  border-color:#4c4d3d

}


.gen {
  margin-left: 10px;
}


.outPut {
  font-family: 'Pixelify Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border:;
  background-color: ;
}