@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap');


main{
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
}

.textBox{

  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -20%)
}

button{

}
