@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

main{
  font-family: 'Rowdies', sans-serif;    position: absolute;
}

.choice{
  font-family: 'Rowdies', sans-serif;  
  position: absolute;
  left: 20%;
  top: 30%;
  transform: translate(-50%, -20%);
}


.textBox{
  font-family: 'Rowdies', sans-serif;  
  position: absolute;
  left: 22%;
  top: 40%;
  transform: translate(-50%, -20%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.text1{
  height: 50px;
  font-family: 'Rowdies', sans-serif;
}

button{
  background-color: #fff7d4;
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
}

button:hover{
  background-color: #ffd95a;
  border-color:#4c4d3d;
}

.gen:hover{
  border-color:#4c4d3d
}

.out:hover{
  border-color:#4c4d3d

}


.gen {
  background-color: #fff7d4;
  margin-top: 20px;
}

.out{
  background-color: #fff7d4;

}


.outPut {
  font-family: 'Rowdies', sans-serif;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translate(-30%, -50%);
}

.smile{

  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-70%);
  animation-name: pixel-smile;
  animation-duration: 10s;  
  animation-iteration-count: infinite;  
  animation-timing-function: linear 
}

@keyframes pixel-smile {
  0% {
    right:0;
  }

  100% {
    right: 3000px; 
  }
}

img{
  width: 100px;
  height: 100px;
}